.contactDiv {
    margin: 7em;
    background-color: rgb(255, 255, 255);
    border: solid;
    width: fit-content;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-style:italic;
    border-width: 3%;
    border-color: rgb(0, 0, 0);
    display: flex;
    height: fit-content;
    text-align: center;
    flex-direction: row;
    align-content: flex-end;
    margin-left: 60%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.contactForm {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:75%;
}