.servicesbody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:1em;
    width: 80%;   
    margin-left: 7em;
    margin-top: 3em;
    background-color: rgba(0, 0, 0, 0.439);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.para {
    margin-left: 2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold 600;
    font-size: x-large;
    

}